$greybord:1px solid rgb(224, 224, 224);
$OpenS: 'Open Sans',
sans-serif;
$Crimson:'Crimson Text',
serif;

@mixin blackBtn {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    background-color: black;
    color: white;
}

@mixin plHold {
    opacity: 1;
    font-size: 9px;
    color: rgb(121, 121, 121);
}

/* Header */


header {
    border-bottom: $greybord;
    padding-bottom: 5px;

    div {
        &.header-justsa {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #dropdownMenuButton {
            display: flex;
            font-size: 18px;

            .foo {
                display: inline;
                font-family: $Crimson;
                font-size: 22px;
                line-height: 80%;
                padding-left: 10px;
            }
        }

        #subscriptiondigest {
            display: flex;
            flex-wrap: nowrap;
            font-family: $OpenS;
            align-items: center;

            .input-group-append {
                height: 20px;
            }


            label {
                font-weight: 300;
                padding: 2px;
                margin-right: 5px;
                font-size: 9px;
            }

            input {
                text-transform: uppercase;
                font-size: 9px;
                font-weight: 300;
                padding-left: 10px;
                border: 1px solid black;
            }

            #btnSignUP {
                @include blackBtn();
                padding: 0 10px 0 10px;

            }
        }

        .search {
            img#logotfd-search {
                max-width: 40px;
                height: 40px;
            }
        }
    }
}

/* Section seux : Abonnement newsletter */
.subscrnewlett {
    font-family: $OpenS;
    text-align: center;
    font-size: 12px;

    h2 {
        font-size: 22px;
        font-weight: bold;
        margin-top: 50px;
    }

    .formorange {
        display: flex;
        justify-content: center;
        font-family: $OpenS;

        input {
            border: $greybord;
            width: 50%;
            padding-left: 10px;

            &::placeholder {
                @include plHold();
            }
        }

        button#btnSignUporange {
            background-color: #FF8069;
            color: white;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 9px;
            width: 20%;
        }
    }
}

/* Section quatre : The farmer's dog */
.fourth {
    font-family: $OpenS;

    img {
        width: 70px;
        height: 70px;
        float: left;
        margin: 15px 15px 30px 0;
    }

    h4 {
        font-weight: bolder;
        font-size: 12px;
    }

    p {
        font-size: 12px;
        color: rgb(175, 175, 175);
    }
}

/* Section six : Leave a comment */
.six {
    margin-bottom: 50px;

    h3 {
        font-family: $OpenS;
        font-weight: bolder;
        font-size: 14px;
        margin-bottom: 30px;
        padding-top: 40px;
        border-top: $greybord;
    }

    form {
        .formcomment {
            display: flex;
            flex-direction: column;
            font-family: $OpenS;

            #textareacomment {
                margin-bottom: 20px;
                border: $greybord;

                &::placeholder {
                    @include plHold;
                }
            }

            .formoneline {
                display: flex;
                justify-content: space-between;

                input {
                    width: 32%;
                    border: $greybord;

                    &::placeholder {
                        @include plHold;
                    }
                }
            }
        }

        .btnComment {
            @include blackBtn;
        }
    }
}