$font1: 'Open Sans',
sans-serif;
$font2:'Crimson Text',
serif;
$cnt:center;

@mixin font($font) {
    font-family: $font;
}


section.first {
    background: yellow;

    article {
        background: green;

        display: flex;
        flex-direction: column;
        justify-content: center;

        h6 {
            @include font($font1);
            color: red;
            font-size: 13px;
            text-align: $cnt;
        }

        h1 {
            @include font($font1);
            color: black;
            text-align: $cnt;
            font-size: 17px;
        }



        img {
            width: 80%;
            margin: auto;
            border: 1px solid rgb(70, 25, 25);

        }

        div.row {
            flex-direction: row;
            align-content: center;
            justify-content: $cnt;
            background: purple;


            div.col-md-6 {
            
                img.logo-tfd {
                    background: yellow;
                    border: 2px solid green;
                    height: 30px;
                    width: 30px;
                    margin: 0;

                }

                p.ligne-inside-article {
                    font-size: 8px;
                    color: red;
                    @include font($font1);
                    margin: auto;
                    margin-left: 0%;
                }

            }

            div.col-md-6 {

                .btn-dark{
                    font-size: 12px;
                }
                

                .btn-circle {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    padding: 1px 0;
                    font-size: 10px;
                    line-height: 1.428571429;
                    border-radius: 50%;
                    border:2px solid rgba(0, 0,0, 0);



                }

                .facebook{
                    background: #3B5998;
                    color: white;
                    
                }

                .twitter {
                    background: #55ACEE;
                    color: white;
                  }

                  .pinterest {
                    background: #cb2027;
                    color: white;
                  }
                  





            }



        }
    }

}