/* Header */
header {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
}

header div.header-justsa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div #dropdownMenuButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

header div #dropdownMenuButton .foo {
  display: inline;
  font-family: "Crimson Text", serif;
  font-size: 22px;
  line-height: 80%;
  padding-left: 10px;
}

header div #subscriptiondigest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: "Open Sans", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div #subscriptiondigest .input-group-append {
  height: 20px;
}

header div #subscriptiondigest label {
  font-weight: 300;
  padding: 2px;
  margin-right: 5px;
  font-size: 9px;
}

header div #subscriptiondigest input {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 300;
  padding-left: 10px;
  border: 1px solid black;
}

header div #subscriptiondigest #btnSignUP {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 0 10px 0 10px;
}

header div .search img#logotfd-search {
  max-width: 40px;
  height: 40px;
}

/* Section seux : Abonnement newsletter */
.subscrnewlett {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 12px;
}

.subscrnewlett h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
}

.subscrnewlett .formorange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
}

.subscrnewlett .formorange input {
  border: 1px solid #e0e0e0;
  width: 50%;
  padding-left: 10px;
}

.subscrnewlett .formorange input::-webkit-input-placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.subscrnewlett .formorange input:-ms-input-placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.subscrnewlett .formorange input::-ms-input-placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.subscrnewlett .formorange input::placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.subscrnewlett .formorange button#btnSignUporange {
  background-color: #FF8069;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 9px;
  width: 20%;
}

/* Section quatre : The farmer's dog */
.fourth {
  font-family: "Open Sans", sans-serif;
}

.fourth img {
  width: 70px;
  height: 70px;
  float: left;
  margin: 15px 15px 30px 0;
}

.fourth h4 {
  font-weight: bolder;
  font-size: 12px;
}

.fourth p {
  font-size: 12px;
  color: #afafaf;
}

/* Section six : Leave a comment */
.six {
  margin-bottom: 50px;
}

.six h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 14px;
  margin-bottom: 30px;
  padding-top: 40px;
  border-top: 1px solid #e0e0e0;
}

.six form .formcomment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.six form .formcomment #textareacomment {
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
}

.six form .formcomment #textareacomment::-webkit-input-placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.six form .formcomment #textareacomment:-ms-input-placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.six form .formcomment #textareacomment::-ms-input-placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.six form .formcomment #textareacomment::placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.six form .formcomment .formoneline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.six form .formcomment .formoneline input {
  width: 32%;
  border: 1px solid #e0e0e0;
}

.six form .formcomment .formoneline input::-webkit-input-placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.six form .formcomment .formoneline input:-ms-input-placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.six form .formcomment .formoneline input::-ms-input-placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.six form .formcomment .formoneline input::placeholder {
  opacity: 1;
  font-size: 9px;
  color: #797979;
}

.six form .btnComment {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  background-color: black;
  color: white;
}
/*# sourceMappingURL=style-single.css.map */